<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!--_______________________________________________________________________________________________________-->
      
        <add key="rutaLog" value="C:\\Ejecutables\\Migra2\\LOGS\\" />           <!--Ruta de fichero de logs-->
        <add key="rutaTemp" value="C:\\Ejecutables\\Migra2\\Temp\\" />          <!--Ruta de fichero temporal-->
        <add key="logName" value="MIGRALOG.txt" />                              <!--Nombre de fichero de logs-->
        <add key="tempName" value="TEMP.txt" />                                 <!--Nombre de fichero temporal-->
        <add key="HLRIP" value="10.2.144.75" />                                 <!--IP de conexion telnet-->
        <add key="HLRPORT" value="23" />                                        <!--Puerto de conexión telnet-->
        <add key="timeInterval" value="120000" />                               <!--Tiempo de ciclo en milisegundos-->
        <!--Líneas de conexión a la BBDD. NO se debe tocar la línea de conexión, solo el usuario y contraseña-->
        <add key="OraConnString" value="Data Source=mighost; User ID=USER; Password=" />
        <add key="USER" value="CG923"/>
        <add key="PASSWORD" value="Migrahost2016" />
        <!--_______________________________________________________________________________________________________-->
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
